[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[1CEE562CEE55FF08]
row=1
col=17

[9daddde3-660d-486a-abb2-bbeb20c6fc75]
row=0
col=17

[Trash]
row=2
col=17

[/]
row=4
col=17

[/home/connor]
row=3
col=17

